h1  Form Customer
form(action="/catalog/customer/create", method="post")
    div.input
        span.label Name
        input(type="text", name="name")
        span.label Username
        input(type="text", name="username")
        span.label Password
        input(type="password", name="password")
    //- div.input
    //-     span.label Description
    //-     textarea(name="description", cols="40", rows="5")
    div.actions
        input(type="submit", value="add")